body {
    background-color: white;
    padding: 20px;
}
.outer_Builder {
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.5) 6px 6px 8px;
    color: black;
    padding: 5px;
}